.gradle
buildSrc/.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
generated/
private/
.sass-cache/
doc/generated/
__pycache__/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Environment files
*.env
*.secret
*.pfx
*.p12

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/queries/
database/queries/
database/.idea/db-forest-config.xml
database/.idea/sqldialects.xml
*.iws
*.iml
*.ipr
*.salive
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.jar

### Mac OS ###
.DS_Store
